/* Custom Fonts */
@font-face {
    font-family: IBM;
    src: url("/public/Fonts/IBM/IBMPlexSansArabic-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: IBM;
    src: url("/public/Fonts/IBM/IBMPlexSansArabic-Light.ttf");
    font-weight: 400;
}
@font-face {
    font-family: IBM;
    src: url("/public/Fonts/IBM/IBMPlexSansArabic-Medium.ttf");
    font-weight: 600;
}
body{
    background-color: #0052d0 !important;
}